In [1]:
import pandas as pd
data = pd.read_csv("titanic_train.csv")
print(data.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [3]:
selected_data = data[['PassengerId', 'Survived','Name', 'Sex', 'Age','Ticket']]
print(selected_data)
selected_data.head()

     PassengerId  Survived                                               Name  \
0              1         0                            Braund, Mr. Owen Harris
1              2         1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2              3         1                             Heikkinen, Miss. Laina
3              4         1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4              5         0                           Allen, Mr. William Henry
..           ...       ...                                                ...
886          887         0                              Montvila, Rev. Juozas
887          888         1                       Graham, Miss. Margaret Edith
888          889         0           Johnston, Miss. Catherine Helen "Carrie"
889          890         1                              Behr, Mr. Karl Howell
890          891         0                                Dooley, Mr. Patrick

        Sex   Age            Ticket
0      male  22.0         A/5 21171
1    female  38.0          PC 17599
2    female  26.0  STON/O2. 3101282
3    female  35.0            113803
4      male  35.0            373450
..      ...   ...               ...
886    male  27.0            211536
887  female  19.0            112053
888  female   NaN        W./C. 6607
889    male  26.0            111369
890    male  32.0            370376

[891 rows x 6 columns]

,PassengerId,Survived,Name,Sex,Age,Ticket
0,1,0,"Braund, Mr. Owen Harris",male,22.0,A/5 21171
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,PC 17599
2,3,1,"Heikkinen, Miss. Laina",female,26.0,STON/O2. 3101282
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,113803
4,5,0,"Allen, Mr. William Henry",male,35.0,373450

In [10]:
##feature selection correlation coefficient technique
import pandas as pd 
df = pd.read_csv("titanic_train.csv")
numeric_df=df.select_dtypes(include=["number"])
correlation_matrix = numeric_df.corr()
target_corr = correlation_matrix['Survived'].sort_values(ascending = False)
print("Correlation of attributes with survived:\n")
print(target_corr)
strong_features = target_corr[abs(target_corr)>=0.1].index.tolist()
print("\n selected strong features based on correlation (>=0.1):")
print(strong_features)

Correlation of attributes with survived:

Survived       1.000000
Fare           0.257307
Parch          0.081629
PassengerId   -0.005007
SibSp         -0.035322
Age           -0.077221
Pclass        -0.338481
Name: Survived, dtype: float64

 selected strong features based on correlation (>=0.1):
['Survived', 'Fare', 'Pclass']

In [11]:
#handling missing values
import pandas as pd
df = pd.read_csv("titanic_train.csv")
print(df.shape)
print(df.isnull().sum())
df_clean = df.dropna()
print(df_clean.shape)

(891, 12)
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
(183, 12)

In [16]:
#fill with mean,median and mode
import pandas as pd
df = pd.read_csv("titanic_train.csv")
print(df.isnull().sum())
print(df.shape)
print(df.dtypes['Age'])
df['Age']=df['Age'].fillna(df['Age'].mean())
most_common = df['Embarked'].mode()[0]
df['Embarked'] = df['Embarked'].fillna(most_common)
df['Cabin']=df['Cabin'].fillna('Unknown')
print(df.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
(891, 12)
float64
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64